---
import Dropdown from '@/components/Dropdown.astro'
import MobileNavToggle from '@/components/layout/MobileNavToggle.astro'
import NavItem from '@/components/layout/NavItem.astro'
import Separator from '@/components/layout/Separator.astro'
import ModeToggle from '@/components/mode/ModeToggle.astro'
import config from '@/theme.config'
import type { HeaderItem, NavItem as NavItemType } from '@/types'

export interface Props {
  activeHeaderLink?: string
}

const { activeHeaderLink } = Astro.props

export const isNavItem = (item: HeaderItem): item is NavItemType =>
  Object.hasOwn(item, 'href')
---

<header>
  <div class="flex items-center justify-between py-4 sm:py-6 md:py-8">
    <a
      href="/"
      class="flex gap-2 text-2xl font-bold text-accent sm:text-3xl lg:text-4xl"
    >
      <span class="xs:inline hidden">{config.title}</span>
      <span class="xs:hidden">TUR</span>
    </a>
    <nav class="hidden flex-col justify-end md:flex">
      <ul class="flex gap-4 lg:gap-6">
        {
          config.navbarItems.map((item) => (
            <li class="flex flex-col justify-center">
              {isNavItem(item) ? (
                <NavItem
                  {item}
                  isActive={
                    activeHeaderLink === item.label ||
                    activeHeaderLink === item.href
                  }
                />
              ) : (
                <Dropdown {item} {activeHeaderLink} />
              )}
            </li>
          ))
        }
        <li class="text-xl lg:text-2xl">
          <a
            href="/search"
            class="flex items-center transition-colors hover:text-accent"
          >
            <span class="clickable iconify tabler--search"></span>
          </a>
        </li>
        <li class="text-xl lg:text-2xl">
          {config.modeToggle && <ModeToggle />}
        </li>
      </ul>
    </nav>
    <div
      class="flex items-center justify-center gap-3 text-xl sm:gap-4 sm:text-2xl md:hidden"
    >
      {config.modeToggle && <ModeToggle />}
      <a href="/search" class="transition-colors hover:text-accent">
        <span class="clickable iconify tabler--search"></span>
      </a>
      <MobileNavToggle />
    </div>
  </div>
  <Separator />
  <div id="mobile-nav" class="hidden">
    <nav class="flex-col justify-end py-6">
      <ul class="flex flex-col items-center gap-2">
        {
          config.navbarItems.map((item) => (
            <li class="flex flex-col justify-center">
              {isNavItem(item) ? (
                <NavItem
                  {item}
                  isActive={
                    activeHeaderLink === item.label ||
                    activeHeaderLink === item.href
                  }
                />
              ) : (
                <Dropdown {item} {activeHeaderLink} />
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
  </div>
</header>
