---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import Prose from '@/components/layout/Prose.astro'
import BaseLayout, {
  type Props as BaseLayoutProps
} from '@/layouts/BaseLayout.astro'
import ScrollProgressPlugin from '@/plugins/ScrollProgressPlugin.astro'
import ScrollToTopPlugin from '@/plugins/ScrollToTopPlugin.astro'
import config from '@/theme.config'

export type Props = BaseLayoutProps & {
  frontmatter: Partial<{
    scrollProgress: boolean
    activeHeaderLink: string
    scrollToTop: boolean
    searchable: boolean
    fullBleed: boolean
  }>
}

const { frontmatter } = Astro.props

const {
  scrollProgress = config.scrollProgress,
  scrollToTop = config.scrollToTop,
  activeHeaderLink,
  searchable = false,
  fullBleed = false
} = frontmatter

const contentContainerClass = 'mx-auto w-full max-w-6xl px-3 sm:px-6 lg:px-8'
---

<BaseLayout frontmatter={frontmatter}>
  <div id="page-wrapper">
    <Header activeHeaderLink={activeHeaderLink} />
    <slot name="top" />

    <aside class="fixed w-fit -translate-x-full pr-8">
      <slot name="aside" />
    </aside>

    <main class="mt-6 pb-10 sm:mt-12 sm:pb-16" data-pagefind-body={searchable}>
      {
        fullBleed ? (
          <div class={contentContainerClass}>
            <slot />
          </div>
        ) : (
          <Prose class={`mb-6 sm:mb-12 ${contentContainerClass}`}>
            <slot />
          </Prose>
        )
      }
    </main>
    <slot name="bottom" />
    <Footer />
  </div>
  {scrollProgress && <ScrollProgressPlugin />}
  {scrollToTop && <ScrollToTopPlugin />}
</BaseLayout>
